{% do _view.assign('title', 'Chat') %}

{{ helper_html_css('chat') }}

<nav>
  <div class="wrapper">
    <div class="logo"><a href="#">Chat</a></div>
    <ul class="nav-links">
      <li>
        <a href="" class="desktop-item">{{ helper_Identity_get('name') }}</a>
        <ul class="drop-menu">
          <li><a href="#">Profile</a></li>
          <li>
            {{ helper_Form_create(null, {
                'url' : {
                'controller' : 'Users',
                'action' : 'logout'}
            }) }}
              <input type="submit" value="Logout">
            {{ helper_Form_end() }}
          </li>
        </ul>
      </li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

<nav class="main-menu">
  <div>
    <input type="text" autocomplete="off" placeholder="Search..." onkeyup="search_user('{{ helper_Identity_get('id') }}', this.value);">
  </div>

  <div id="user_list_area"></div>
  
  <ul>
      <form action="" method="post">
        <button type="submit" class="button-user" name="userid" value="">
        <li>
          <i class="fa fa-home fa-2x"></i>
          <p>teste</p>
        </li>
        </button>
      </form>
  </ul>
</nav>

<div class="body-msg">
  <div class="text-messages">
    <ul class="chat-messages">
      <li class="me message">
        <h5>
          teste
        </h5>  
        <p>
          teste
        </p>
      </li> 
    </ul>
  <div id="content" class="content"></div>
  </div>

  <div class="chat-box">
    <div class="form-msg">
      <div class="chat-input-box">
        <input class="chat-input" id="msg" name="message" placeholder="message..." type="text">
        <button type="submit" class="chat-button" onclick="env_message()">env</button>
      </div>
    </div>
  </div>
</div>

<script>
  //WebSocket
const userToken = '{{ token|json_encode()|raw }}';

var conn = new WebSocket("ws://127.0.0.1:8090/?token=" + userToken);

var me_user_id = "{{ helper_Identity_get('id') }}";

var other_user_id = "";
    
conn.onopen = function(e) {
  console.log("Connection established!");

  load_users_list(me_user_id);
};

conn.onmessage = function(e) {
  var data = JSON.parse(e.data);

  if(data.status){
    if(data.response_load_users || data.response_search_user){
        var html = '';
      if(data.data_user.length > 0){

      }else{
        html = 'No User Found';
      }

      document.getElementById('user_list_area').innerHTML = html;
    }
  }

};

function load_users_list(me_user_id){
  var data = {
		me_user_id : me_user_id,
		type : 'request_users_list'
	};

	conn.send(JSON.stringify(data));
}

function search_user(me_user_id, search_query)
{
	if(search_query.length > 0)
	{
		var data = {
			me_user_id : me_user_id,
			search_query : search_query,
			type : 'request_search_user'
		};

		conn.send(JSON.stringify(data));
	}
}

function make_chat_area(user_id, other_user_id){
	var html = `
	<div id="chat_history"></div>
	`;

	document.getElementById('chat_area').innerHTML = html;

	document.getElementById('chat_header').innerHTML = 'Chat with <b>'+other_user_id+'</b>';

	other_user_id = user_id;
}

function env_message(){
	document.querySelector('#send_button').disabled = true;

	var message = document.getElementById('message_area').innerHTML.trim();

	var data = {
		message : message,
		me_user_id : me_user_id,
		other_user_id : other_user_id,
		type : 'request_send_message'
	};

	conn.send(JSON.stringify(data));

	document.querySelector('#message_area').innerHTML = '';

	document.querySelector('#send_button').disabled = false;
}

</script>
