{% do _view.assign('title', 'Chat') %}

{{ helper_html_css('chat') }}

<nav>
  <div class="wrapper">
    <div class="logo"><a href="">Chat</a></div>
    <div class="user-att" id="user-att"></div>
    <ul class="nav-links">
      <li>
        
          <a href="">
            <div class="user-sep">
              <img src="https://i.imgur.com/G4EjwqQ.jpg"/>
              <p>{{ helper_Identity_get('name') }}</p>
            </div>
          </a>
        
      <div class="sub-inputs">
        <ul class="drop-menu">
          <li>
            <a href="{{ helper_Url_build({'controller' : 'Users', 'action' : 'edit'}) }}">Perfil</a>
          </li>
          <li>
            <a href="{{ helper_Url_build({'controller' : 'Users', 'action' : 'logout'}) }}">Sair</a>
          </li>
        </ul>
      </div>
      </li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

<nav class="main-menu">
  <div class="search-box">
    <input type="text" autocomplete="off" placeholder="Pesquisar..." onkeyup="search_user('{{ helper_Identity_get('id') }}', this.value);">
  </div>
    <div id="user_list_area"></div>
</nav>

<div class="body-msg">
  <div class="text-messages">
    <div id="msg_area" class="content"></div>
  </div>

  <div class="chat-box">
    <div class="form-msg">
      <div class="chat-input-box">
      <form id="form-users">
        <input class="chat-input" id="input_msg" name="message" placeholder="Envie sua mensagem..." type="text">
        <button type="submit" id="env_msg" class="chat-button">enviar</button>
      </form>
      </div>
    </div>
  </div>
</div>

<script>
  //WebSocket
const userToken = {{ token|json_encode()|raw }};

var conn = new WebSocket("ws://127.0.0.1:8090/?token=" + userToken);

var me_user_id = "{{ helper_Identity_get('id') }}";

var other_user_id = "";
    
conn.onopen = function(e) {
  console.log("Connection established!");

  load_users_list(me_user_id);
};

conn.onmessage = function(e) {
  var data = JSON.parse(e.data);

  if(data.status){
    var count_users = document.getElementsByClassName('num_users');

    for(var count = 0; count < count_users.length; count++){
      if(data.status == 'Online'){
        document.getElementById('status_'+data.id).classList.add("green-circle");
        document.getElementById('status_'+data.id).classList.remove("red-circle");
      }else{
        document.getElementById('status_'+data.id).classList.add("red-circle");
        document.getElementById('status_'+data.id).classList.remove("green-circle");
      }
    }
  }

  if(data.response_load_users || data.response_search_user){
    var html = '';
    if(data.data_user.length > 0){
    html += '<ul>';
      for(var count = 0; count < data.data_user.length; count++){
        html += `
        <button type="submit" class="button-user" onclick="make_chat_area(`+data.data_user[count].id+`, '`+data.data_user[count].name+`'); load_data(`+me_user_id+`, `+data.data_user[count].id+`);">
          <li>
            <div class="user-list-div">
        `;
            if(data.data_user[count].status == 'Online' ){
              html += `
                <div class="num_users green-circle" id="status_`+data.data_user[count].id+`"></div>
              `;
            }else{
              html += `
                <div class="num_users red-circle" id="status_`+data.data_user[count].id+`"></div>
              `;
            }
          html += `
              <p class="user-name">`+data.data_user[count].name+`</p>
          `;
        html += `
            </div>
          </li>
        </button>
        `;
    }
    html += '</ul>';
  }else{
    html = 'No User Found';
  }
  document.getElementById('user_list_area').innerHTML = html;
  }

  if(data.message){
    var html = '';
    if(data.me_user_id == me_user_id){
      html += `
      <ul class="chat-messages">
        <li class="me message">
          <p>`+data.message+`</p>
        </li>  
      </ul>
        `;
    }else{
      if(other_user_id != ''){
        html += `
        <ul class="chat-messages">
          <li class="other message">
            <p>`+data.message+`</p>
          </li>  
        </ul>
      `;
      }
    }
    if(html != '')
		{
			var prev_msg_element = document.querySelector('#chat_history');
			var chat_all_element = document.querySelector('#chat_history');

			chat_all_element.innerHTML = prev_msg_element.innerHTML + html;
			scroll_botton();
		}
  }

  if(data.chat_history){
    var html = '';

    for(var count = 0; count < data.chat_history.length; count++){
      if(data.chat_history[count].me_user_id == me_user_id){
        html +=`
          <ul class="chat-messages">
            <li class="me message">
              <p>`+data.chat_history[count].message+`</p>
            </li>
          </ul> 
        `;
      }else{
        html +=`
        <ul class="chat-messages">
          <li class="other message">
            <p>`+data.chat_history[count].message+`</p>
          </li>
        </ul> 
      `;
      }
    }
    document.getElementById('chat_history').innerHTML = html;
    scroll_botton();
  }
};

function scroll_botton(){
    window.scrollTo({ top: document.body.scrollHeight, behavior: 'auto' }); 
}

function load_users_list(me_user_id){
  var data = {
		me_user_id : me_user_id,
		type : 'request_users_list'
	};
	conn.send(JSON.stringify(data));
}

function search_user(me_user_id, search_query){
  setTimeout(function(){
    var data = {
			me_user_id : me_user_id,
			search_query : search_query,
			type : 'request_search_user'
		};
    conn.send(JSON.stringify(data));
  }, 200);
}

function make_chat_area(user_id, other_user_name){
	var html = `
	  <div id="chat_history"></div>
	`;

	document.getElementById('msg_area').innerHTML = html;

	document.getElementById('user-att').innerHTML = 'Chat com <b>'+other_user_name+'</b>';

	other_user_id = user_id;
}

function load_data(me_user_id, other_user_id){
	var data = {
		me_user_id : me_user_id,
		other_user_id : other_user_id,
		type : 'request_all_messages'
	};
  conn.send(JSON.stringify(data));
}

const form_env = document.getElementById('form-users');
form_env.addEventListener('submit', e => {
    e.preventDefault();
    var message = document.getElementById('input_msg').value;
    
    if(other_user_id){
      var data = {
        message : message,
        me_user_id : me_user_id,
        other_user_id : other_user_id,
        type : 'request_send_message'
      };
      conn.send(JSON.stringify(data));
    }
    document.getElementById('input_msg').value = '';
});
</script>
