{% do _view.assign('title', 'Chat') %}

{{ helper_html_css('home') }}

<nav>
  <div class="wrapper">
    <div class="logo"><a href="#">Chat</a></div>
    <ul class="nav-links">
      <li>
        <a href="" class="desktop-item">{{ helper_Identity_get('name') }}</a>
        <ul class="drop-menu">
          <li><a href="#">Profile</a></li>
          <li>
            {{ helper_Form_create(null, {
                'url' : {
                'controller' : 'Users',
                'action' : 'logout'}
            }) }}
              <input type="submit" value="Logout">
            {{ helper_Form_end() }}
          </li>
        </ul>
      </li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

<nav class="main-menu">
  <ul>
      <form action="" method="post">
        <input type="hidden" name="_csrfToken" value="{{ _view.request.getAttribute('csrfToken') }}">
        <button type="submit" class="button-user" name="userid" value="">
        <li>
          <i class="fa fa-home fa-2x"></i>
          <p>teste</p>
        </li>
        </button>
      </form>
  </ul>
</nav>

<div class="body-msg">
  <div class="text-messages">
    <ul class="chat-messages">
        <h5>
          teste
        </h5>  
        <p>
          teste
        </p>
      </li> 
    </ul>
  <div id="content" class="content"></div>
  </div>

  <div class="chat-box">
    <form id="formMessage" method="post">
      <input type="hidden" name="_csrfToken" value="{{ _view.request.getAttribute('csrfToken') }}">
      <input type="hidden" id="name" name="name" value="{{ helper_Identity_get('name') }}">
      <div class="chat-input-box">
        <input class="chat-input" id="msg" name="message" placeholder="message..." type="text">
        <button type="submit" class="chat-button" >env</button>
      </div>
    </form>
  </div>
</div>

<script>
  //WebSocket
const userToken = {{ token|json_encode()|raw }};
var conn = new WebSocket("ws://127.0.0.1:8090/?token=" + userToken);

var me_user_id = "{{ helper_Identity_get('id') }}";

var other_user_id = "";
    
conn.onopen = function(e) {
  console.log("Connection established!");
};

conn.onmessage = function(e) {
  var data = JSON.parse(e.data);
  
  console.log(data);
};
</script>
