{% do _view.assign('title', 'Login') %}

{{ helper_html_css('login') }}

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<div class="form">
    <h3>Login Here</h3>
<div class="flash">
    {{ helper_Flash_render() }}
</div>
{{ helper_Form_create(null, {
    'url' : {
        'controller' : 'Users',
        'action' : 'login'}
    })
 }}
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email" id="email">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" id="password">
    <button class="button" type="submit">Login</button>
{{ helper_Form_end() }}
<div class="link-cad">
    {{ helper_Html_link(
        'Dashboard',{
        'controller' : 'Pages',
        'action' : 'index'},
        {'class' : 'dash'}
        ) }}
    </div>
</div>
