<!DOCTYPE html>
<html lang="en">
<head>
    {{ helper_html_charset() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ fetch('title') }}
    </title>
    {{ fetch('css') }}
    {{ fetch('script') }}
</head>
<body>
    {{ fetch('content') }}
</body>
</html>